<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>com.servletp2.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <display-name>project2_transportsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.servletp2.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin1</display-name>
    <servlet-name>AdminLogin1</servlet-name>
    <servlet-class>com.servletp2.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin1</servlet-name>
    <url-pattern>/AdminLogin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateManager</display-name>
    <servlet-name>CreateManager</servlet-name>
    <servlet-class>com.servletp2.CreateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateManager</servlet-name>
    <url-pattern>/CreateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTruck</display-name>
    <servlet-name>CreateTruck</servlet-name>
    <servlet-class>com.servletp2.CreateTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTruck</servlet-name>
    <url-pattern>/CreateTruck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSearchDAo</display-name>
    <servlet-name>ManagerSearchDAo</servlet-name>
    <servlet-class>com.servletp2.ManagerSearchDAo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSearchDAo</servlet-name>
    <url-pattern>/ManagerSearchDAo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerSearch</display-name>
    <servlet-name>ManagerSearch</servlet-name>
    <servlet-class>com.servletp2.ManagerSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSearch</servlet-name>
    <url-pattern>/ManagerSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTruckServlet</display-name>
    <servlet-name>FindTruckServlet</servlet-name>
    <servlet-class>com.servletp2.FindTruckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTruckServlet</servlet-name>
    <url-pattern>/FindTruckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TowardsHereServlet</display-name>
    <servlet-name>TowardsHereServlet</servlet-name>
    <servlet-class>com.servletp2.TowardsHereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TowardsHereServlet</servlet-name>
    <url-pattern>/TowardsHereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.servletp2.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentalyInstalledTruckServlet</display-name>
    <servlet-name>RecentalyInstalledTruckServlet</servlet-name>
    <servlet-class>com.servletp2.RecentalyInstalledTruckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentalyInstalledTruckServlet</servlet-name>
    <url-pattern>/RecentalyInstalledTruckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_Us</display-name>
    <servlet-name>Contact_Us</servlet-name>
    <servlet-class>com.servletp2.Contact_Us</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_Us</servlet-name>
    <url-pattern>/Contact_Us</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.servletp2.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RsesentallyInatallTruck</display-name>
    <servlet-name>RsesentallyInatallTruck</servlet-name>
    <servlet-class>com.servletp2.RsesentallyInatallTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RsesentallyInatallTruck</servlet-name>
    <url-pattern>/RsesentallyInatallTruck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_UsView</display-name>
    <servlet-name>Contact_UsView</servlet-name>
    <servlet-class>com.servletp2.Contact_UsView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_UsView</servlet-name>
    <url-pattern>/Contact_UsView</url-pattern>
  </servlet-mapping>
</web-app>